@import 'tailwindcss';

/* "bg-pointGreen" "text-gray2" 등으로 사용 */
@theme {
  --color-mainBlack: #202020;
  --color-mainRed: #ff4427;
  --color-mainWhite: #fff;

  --color-pointYellow: #fd0;
  --color-pointDarkYellow: #cdb200;
  --color-pointGreen: #71e200;
  --color-pointDarkGreen: #00bf1d;

  --color-gray1: #4d5358;
  --color-gray2: #747474;
  --color-gray3: #aaaaaa;
  --color-gray4: #d5d5d5;
  --color-gray5: #ebebeb;
  --color-gray6: #f8f8f8;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'SUIT-Regular';
}
